﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


span.field-validation-error {
    color: red;
    font-weight: bold;
}

/*Bootstrap Overrides*/
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: #be494966;
    }

    .from-group {
        margin-bottom:20px;
    }

    .body{
        font-size:22px;
    }
    .form-control{
        font-size:18px;
        padding: 20px 15px;
        border : 2px solid #000000;
        border-radius:8px;
    }
.btn {
    font-weight: bolder;
    text-align: center;
    border: 2px solid #000000;
    padding: 8px 22px;
    font-size: 18px;
    border-radius: 9px;
}
.navbar-brand{
    font-weight:700;
}